.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    margin:0px;
  }
  
  .node-end {
    background-color: red;
  }
  
  .node-start {
    background-color: green;
  }

  .grid {
    margin: 100px 0 0;
  }

  table {
    border-spacing: 0px;
  }